<div class="data">
  <div class="container-fluid row">
    <div class="col-md-3">
      <chart type="'pie'" graph-data="languages" graph-width="190" graph-height="200">
        <svg></svg>
      </chart>
    </div>
    <div class="col-md-3">
      <chart type="'bar'" graph-data="contributors" graph-width="190" graph-height="200">
        <svg></svg>
      </chart>
    </div>
    <div class="col-md-3">
      <chart type="'pie'" graph-data="licenses" graph-width="190" graph-height="200">
        <svg></svg>
      </chart>
    </div>
    <div class="col-md-3">
      <chart type="'pie'" graph-data="copyrights" graph-width="190" graph-height="200">
        <svg></svg>
      </chart>
    </div>
  </div>
</div>
