<div class="container-flow row">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Language</th>
        <th>Authors</th>
        <th>Licenses</th>
        <th>Copyrights</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="(key, value) in files">
        <td>{{key}}</td>
        <td>{{value.language}}</td>
        <td>
          <ul>
            <li ng-repeat="author in value.authors">{{author.email}}</li>
          </ul>
        </td>
        <td>
          <ul>
            <li ng-repeat="license in value.licenses">{{license.short_name}}</li>
          </ul>
        </td>
        <td>
          <ul>
            <li ng-repeat="copyright in value.copyrights">{{copyright[0]}}</li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</div>
