<div ng-controller="StatisticsController as StatisticsCtrl">
  <div class="container-fluid row">
    <h3>Show statistics of our projects and filter them as you want</h3>
    <div class="col-md-4">
      <h4>Filter by legal information</h4>
      <form id="byLegal" ng-submit="StatisticsCtrl.getByLegalInfo()">
        <input id="copyright" name="copyright" ng-model="StatisticsCtrl.copyright">
        <input id="license" name="license" ng-model="StatisticsCtrl.license">
        <input type="submit" value="Filter" class="btn btn-primary">
      </form>
    </div>
    <div class="col-md-4">
      <h4>Filter by user</h4>
      <form id="byUser" ng-submit="StatisticsCtrl.getByUser()">
        <input id="user" name="user" ng-model="StatisticsCtrl.user">
        <input type="submit" value="Filter" class="btn btn-primary">
      </form>
    </div>
    <div class="col-md-4">
      <h4>Get global statistics</h4>
      <form id="all" ng-submit="StatisticsCtrl.getAll()">
        <input type="submit" value="Get all" class="btn btn-primary">
      </form>
    </div>
  </div>
  <div class="data">
    <div class="container-fluid row">
      <alldata ng-show="StatisticsCtrl.infoIsSelected('all')"></alldata>
      <userdata ng-show="StatisticsCtrl.infoIsSelected('user')"></userdata>
      <legaldata ng-show="StatisticsCtrl.infoIsSelected('legal')"></legaldata>
    </div>
  </div>
</div>
