<div class="data">
  <div class="container-fluid row">
    <div class="card col-md-6">
      <div class="card-header">
        <h3>Languages used by the user</h3>
      </div>
      <div class="card-body">
        <chart type="'pie'" graph-data="languages" graph-width="190" graph-height="200">
          <svg></svg>
        </chart>
      </div>
    </div>
    <div class="card col-md-6">
      <div class="card-header">
        <h3>Projects with {{user}} as contributor</h3>
      </div>
      <div class="card-body">
        <div ng-if="ownedProjects.length !== 0">
          <h4>Owned projects</h4>
          <ul>
            <li ng-repeat="project in ownedProjects">
              {{project}}
            </li>
          </ul>
        </div>
        <div ng-if="collaborations.length !== 0">
          <h4>Projects as a collaborator</h4>
          <ul>
            <li ng-repeat="collaboration in collaborations">
              {{collaboration}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid row">
    <div class="card col-md-6">
      <div class="card-header">
        <h3>Licenses used by the user</h3>
      </div>
      <div class="card-body">
        <chart type="'pie'" graph-data="licenses" graph-width="190" graph-height="200">
          <svg></svg>
        </chart>
      </div>
    </div>
    <div class="card col-md-6">
      <div class="card-header">
        <h3>Copyrights used by the user</h3>
      </div>
      <div class="card-body">
        <chart type="'pie'" graph-data="copyrights" graph-width="190" graph-height="200">
          <svg></svg>
        </chart>
      </div>
    </div>
  </div>
</div>
