<div ng-controller="AnalysisController as AnalysisCtrl">
  <div class="container-fluid row">
    <h3>You've got three ways of analizing your project</h3>
    <div class="col-md-4">
      <h4>With a Github project URL</h4>
      <form id="urlForm" ng-submit="AnalysisCtrl.analyze()">
        <input id="url" name="url" ng-model="AnalysisCtrl.url">
        <input type="submit" value="Analyze" class="btn btn-primary">
      </form>
    </div>
    <div class="col-md-4">
      <h4>Specifying your username and project name in Github</h4>
    </div>
    <div class="col-md-4">
      <h4>Draggin your project folder directly over here</h4>
    </div>
  </div>
  <div class="data">
    <div class="container-fluid row">
      <div class="card col-md-3">
        <div class="card-header">
          <h3>Languages in this project</h3>
        </div>
        <div class="card-body">
          <chart type="'pie'" graph-data="languages">
            <svg></svg>
          </chart>
        </div>
      </div>
      <div class="card col-md-3">
        <div class="card-header">
          <h3>Contributors participating</h3>
        </div>
        <div class="card-body">
          <chart type="'bar'" graph-data="contributors">
            <svg></svg>
          </chart>
        </div>
      </div>
      <div class="card col-md-3">
        <div class="card-header">
          <h3>Licenses contained in the files</h3>
        </div>
        <div class="card-body">
          <chart type="'pie'" graph-data="licenses">
            <svg></svg>
          </chart>
        </div>
      </div>
      <div class="card col-md-3">
        <div class="card-header">
          <h3>Copyrights contained in the files</h3>
        </div>
        <div class="card-body">
          <chart type="'pie'" graph-data="copyrights">
            <svg></svg>
          </chart>
        </div>
      </div>
    </div>
    <div class="container-fluid row">
      <div class="col-md-4">
        Owner: {{owner}}
      </div>
      <div class="col-md-4">
        Github url: {{url}}
      </div>
      <div class="col-md-4">
        Number of files: {{num_files}}
      </div>
    </div>
    <div class="container-fluid row">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Language</th>
            <th>Authors</th>
            <th>Licenses</th>
            <th>Copyrights</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="(key, value) in files">
            <td class="file-name">{{key}}</td>
            <td>{{value.language}}</td>
            <td>
              <ul>
                <li ng-repeat="author in value.authors">{{author.email}}</li>
              </ul>
            </td>
            <td>
              <ul>
                <li ng-repeat="license in value.licenses">{{license.short_name}}</li>
              </ul>
            </td>
            <td>
              <ul>
                <li ng-repeat="copyright in value.copyrights">{{copyright[0]}}</li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
